#!/bin/bash

containers=$@

echo "Stopping containers:"
docker stop $containers || exit 1

for container in "$@"
do
    echo
    echo "Syncronize files: {{ docker_dir }}/$container/ -> {{ docker_mount }}/data/$container"
    sudo rsync -avz {{ docker_dir }}/$container/ {{ docker_mount }}/data/$container
    sudo chmod -R a+rwX {{ docker_mount }}/data/$container
done

echo
echo "Starting containers:"
docker start $containers
