#!/bin/bash

container=$1

echo "Stopping container:"
docker stop $container || exit 1

echo
echo "Syncronize files: {{ docker_dir }}/$container/ -> {{ docker_mount }}/data/$container"
sudo rsync -avz {{ docker_dir }}/$container/ {{ docker_mount }}/data/$container

echo
echo "Starting container:"
docker start $container
